<div class="flex justify-items-center items-center justify-between">
  <h2 class="text-2xl"><%= name %></h2>
  <p>(NoID: <%= satellite_id %>)</p>
</div>
<hr class="border-teal-300" />
<p>
  <strong>Speed:</strong>
  <span class="satellite_speed_visualizer">0.00km/h</span>
</p>
<p>
  <strong>Longitude:</strong> <span class="satellite_long_visualizer"></span>
</p>
<p><strong>Latitude:</strong> <span class="satellite_lat_visualizer"></span></p>
<p>
  <strong>Altitude:</strong>
  <span class="satellite_alt_visualizer"></span>
</p>
<p>
  <strong>Inclination:</strong>
  <%= inclination %>°
</p>
<p>
  <strong>Revolution Time:</strong>
  <%= revolution %> hours
</p>
<p>
  <strong>Launch Date:</strong>
  <%= launch_date %>
</p>
<p>
  <strong>Launch Site:</strong>
  <%= launch_site %>
</p>
<p>
  <strong>Owner:</strong>
  <%= owner %>
</p>
<!-- <p>
  <strong>Status:</strong>
  <%= status %>
</p>
<p>
  <strong>Object Type:</strong>
  <%= object_type %>
</p> -->
<p>
  <strong>Description:</strong>
  <%= description %>
</p>
