<h2 class="text-xl md:text-2xl">
    <%= name %>
</h2>
<hr class="border-teal-300" />
<p><strong>Speed:</strong> No :(</p>
<p><strong>Height:</strong> <%= farthest_orbit_distance %> km (Farthest) / <%= lowest_orbit_distance %> km (Lowest)</p>
<!-- <p><strong>Coordinates:</strong> </p> -->
<p><strong>Inclination:</strong> <%= inclination %>°</p>
<p><strong>Revolution Time::</strong> <%= revolution %> hours</p>
<p><strong>Launch Date:</strong> <%= launch_date %></p>
<p><strong>Launch Site:</strong> <%= launch_site %></p>
<p><strong>Owner:</strong> <%= owner %></p>
<p><strong>Status:</strong> <%= status %></p>
<p><strong>Object Type:</strong> <%= object_type %></p>
<p><strong>Description:</strong> <a href="<%= description %>"
        onclick="return confirm('Are you sure you want to open this link in a new tab?')" target="_blank">Click here to
        read more</a></p>