<h2 class="text-2xl">
    <%= name %>
</h2>
<hr class="border-teal-300" />
<p><strong>Speed: No :(</strong></p>
<p><strong>Height: <%= farthest_orbit_distance %> km (Farthest) / <%= lowest_orbit_distance %> km (Lowest)</strong></p>
<p><strong>Coordinates: Inclination <%= inclination %>°, Revolution Time: <%= revolution %> hours</strong></p>
<p><strong>Launch Date: <%= launch_date %></strong></p>
<p><strong>Launch Site: <%= launch_site %></strong></p>
<p><strong>Owner: <%= owner %></strong></p>
<p><strong>Status: <%= status %></strong></p>
<p><strong>Object Type: <%= object_type %></strong></p>
<p><strong>Description:</strong> <a href="<%= description %>"
        onclick="return confirm('Are you sure you want to open this link in a new tab?')" target="_blank">Click here to
        read more</a></p>